body {
    margin: 0;

}
.slide , .slide2 {
    border: 1px solid black;
    margin: 15px 20px 20px;
}

.slide2 {
    display: none;
}
/*animate*/
.animate {
    border: 1px solid black;
    margin: 15px 20px 20px;
    width: 100px;

}
.animate-span {
    display: none;

}